<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div class="tray tray-right tray290"  th:fragment="content">
    <h4> Profili korisnika </h4>

    <div>

        <div id="nav-spy">
            <ul class="nav tray-nav" data-smoothscroll="-90">

                <li th:classappend="${up.id == profileDTO.id} ? 'active'" th:each="up : ${profileList}">
                    <a th:href="@{/admin/user-profile/edit?id={upId}(upId=${up.id})}">
                        <span class="fa fa-edit fa-lg"></span>
                        <span th:text="${up.name}"></span>
                    </a>
                </li>

            </ul>
        </div>

    </div>

</div>

</body>
</html>