<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div th:fragment="content" >

    <div class="tray tray-center user-profile" >

        <div class="mw1000 center-block">

            <div class="blue-top" >

                <div class="panel heading-border panel-primary">

                    <div class="panel-body bg-light">

                        <!--@thymesVar id="profileDTO" type="hr.m2stanic.smartbuilding.web.dto.MobileUserProfileDTO"-->
                        <h2 th:text="${profileDTO.name}" th:if="${profileDTO.id}"></h2>
                        <h2 th:unless="${profileDTO.id}">Novi korisnički profil</h2>

                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Uredi podatke profila</span>
                            </div>
                            <div class="panel-body">


                                <form id="editProfileForm" class="form-horizontal" role="form" method="post" th:object="${profileDTO}">

                                    <div class="alert alert-danger alert-dismissable" th:if="${#fields.hasErrors('*')}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>
                                        <strong>Molimo ispravite sljedeće greške</strong>
                                        <ul >
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Naziv</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text"  th:field="*{name}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" th:text="#{admin.userType}">Tip korisnika</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <select th:name="userType" class="form-control"
                                                        data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno">
                                                    <option th:each="ut : ${T(hr.m2stanic.smartbuilding.core.tariff.UserType).values()}"
                                                            th:value="${ut.name()}"
                                                            th:text="${ut.displayName}" th:selected="${ut} == ${profileDTO.userType}">Tip korisnika</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <!--/*@thymesVar id="loggedInUserNetworks" type="java.util.List<hr.m2stanic.smartbuilding.web.dto.OperatorDTO>"*/-->
                                    <!--/*@thymesVar id="loggedInUser" type="hr.m2stanic.smartbuilding.core.appuser.AppUser"*/-->
                                    <div th:if="${loggedInUser.company instanceof T(hr.m2stanic.smartbuilding.core.company.OperatorGroup)}">

                                        <h2>Tržišno učešće u mobilnim mrežama</h2>

                                        <div class="form-group" th:each="network : ${loggedInUserNetworks}">
                                            <label class="col-lg-4 control-label" th:text="${network.name}">Operator network</label>
                                            <div class="col-lg-8">
                                                <div class="bs-component">
                                                    <input type="text"  th:value="${network.marketShare}" class="form-control" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <h2>Razgovori</h2>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Mjesečno razgovora u minutama</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text"  th:field="*{callMinutes}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Prosječno trajanje razgovora u minutama</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text"  th:field="*{averageCallDurationMinutes}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${loggedInUser.company instanceof T(hr.m2stanic.smartbuilding.core.company.Agency)}">
                                        <h3>Procenat razgovora u odnosu na domaću mrežu</h3>
                                        <h4>Procenti razgovora prema domaćoj mreži za sve operatore se uređuju na
                                            stranici <a th:href="@{/admin/operator/market-shares}">Tržišno učešće</a>
                                        </h4>
                                    </div>

                                    <h3>Raspodjela razgovora Zemlja - Inostranstvo</h3>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat razgovora unutar zemlje</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-country" type="text"   class="form-control" th:field="*{callPercentCountry}"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat razgovora prema
                                            inozemstvu</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-international" type="text"  th:field="*{callPercentInternational}" class="form-control" readonly="readonly"/>
                                            </div>
                                        </div>
                                    </div>


                                    <div th:if="${loggedInUser.company instanceof T(hr.m2stanic.smartbuilding.core.company.OperatorGroup)}" th:each="network : ${loggedInUserNetworks}">


                                        <h3>Raspodjela domaćih razgovora u odnosu na domaću mrežu (<span th:text="${network.name}">Operator</span>)</h3>

                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Procenat razgovora prema domaćoj
                                                mreži</label>
                                            <div class="col-lg-8">
                                                <div class="bs-component">
                                                    <input id="perc-home-net" type="text" th:name="'operator-hn-__${network.id}__-home-call-perc'"  th:value="${network.homeNetworkCallPercent}" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Procenat razgovora prema drugim
                                                mrežama</label>
                                            <div class="col-lg-8">
                                                <div class="bs-component">
                                                    <input id="perc-other-net" type="text"  th:value="${100 - network.homeNetworkCallPercent}" class="form-control" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <h3>Raspodjela razgovora (domaćih i međunarodnih)  po tipu mreže</h3>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat razgovora prema fiksnim
                                            mrežama</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-fixed" type="text" th:field="*{callPercentFixedNetworks}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat razgovora prema mobilnim
                                            mrežama</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-mobile" type="text"  th:field="*{callPercentMobileNetworks}" class="form-control" readonly="readonly"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>



                                    <h3>Raspodjela razgovora prema vremenu <span style="font-size: 12px !important; padding-left: 20px;" th:text="'(ukupno __#{admin.timePeriod.day}__ + __#{admin.timePeriod.night}__ + __#{admin.timePeriod.weekend}__ mora biti 100%)'"></span></h3>

                                    <div class="form-group" th:each=" tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}">
                                        <label class="col-lg-4 control-label"
                                               th:text="'Procenat razgovora - ' +  ${tp.displayName}">Procenat
                                            razgovora</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text"  th:field="*{timePeriodDistribution[__${tp}__]}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>



                                    <h2>SMS</h2>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Mjesečni broj SMS-ova</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text"  th:field="*{smsCount}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${loggedInUser.company instanceof T(hr.m2stanic.smartbuilding.core.company.Agency)}">
                                        <h3>Procenat SMS poruka u odnosu na domaću mrežu</h3>
                                        <h4>Procenti SMS poruka prema domaćoj mreži za sve operatore se uređuju na
                                            stranici <a th:href="@{/admin/operator/market-shares}">Tržišno učešće</a>
                                        </h4>
                                    </div>


                                    <h3>Raspodjela slanja SMS-ova Zemlja - Inostranstvo</h3>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat SMS-ova unutar zemlje</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-sms-country" type="text"  th:field="*{messagePercentCountry}" class="form-control"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Procenat SMS-ova prema inozemstvu</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input id="perc-sms-international" type="text"  th:field="*{messagePercentInternational}" class="form-control" readonly="readonly"
                                                       data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno"
                                                       data-bv-numeric ="" data-bv-numeric-message="Unesite brojčanu vrijednost"/>
                                            </div>
                                        </div>
                                    </div>



                                    <div th:if="${loggedInUser.company instanceof T(hr.m2stanic.smartbuilding.core.company.OperatorGroup)}" th:each="network : ${loggedInUserNetworks}">
                                        <h3>Raspodjela slanja SMS-ova u odnosu na domaću mrežu (<span th:text="${network.name}">Operator</span>)</h3>

                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Procenat SMS-ova prema domaćoj
                                                mreži</label>
                                            <div class="col-lg-8">
                                                <div class="bs-component">
                                                    <input id="perc-sms-home-net" type="text" th:name="'operator-hn-__${network.id}__-home-sms-perc'" th:value="${network.homeNetworkSMSPercent}" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Procenat SMS-ova prema drugim mrežama
                                                U CG</label>
                                            <div class="col-lg-8">
                                                <div class="bs-component">
                                                    <input id="perc-sms-other-net" type="text"  th:value="${100 - network.homeNetworkSMSPercent}" class="form-control" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <h3>Raspodjela internacionalnih razgovora i poruka po zemljama</h3>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <div class="col-lg-8" id="international-calls-distribution">
                                            <span class="no-distribution hide">Trenutno nije definirana raspodjela intrenacionalnih poziva po naj zemljama</span>
                                            <div th:replace="admin/user-profile/international-calls-list :: content(*{internationalCallsDistribution})">

                                            </div>

                                            <span th:if="*{internationalCallsDistribution.size() == 0}" class="other-calls-msg">Svi poziv bit će tretirani kao pozivi prema neodređenim zemljama (zona Svijet)</span>
                                            <span th:unless="*{internationalCallsDistribution.size() == 0}" class="other-calls-msg">Ostatak poziva bit će tretiran kao pozivi prema neodređenim zemljama (zona Svijet)</span>
                                            <br/><br/>
                                            <a href="#" onclick="addCountryCodePercentage(); return false;">Dodaj
                                                procenat poziva prema određenoj državi</a>
                                        </div>
                                    </div>




                                    <hr/>


                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <div class="pull-right">

                                                    <button type="submit" class="btn btn-dark btn-gradient dark">Spremi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <aside class="tray tray-right tray290" data-tray-height="match" style="height: 2180px;" th:replace="admin/user-profile/edit-form-right-column :: content"></aside>

    <script th:inline="javascript">
        var roleScope = [[${loggedInUser.role.scope.name()}]];
    </script>
    <script th:src="@{/res/js/editUserProfile.js}"></script>

</div>




</body>
</html>