<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Smart building contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">

<h3>Pitanje u vezi Smart building</h3>

<table>
    <tr th:if="${fullName}">
        <td>Ime korisnika:</td>
        <td><strong th:text="${fullName}">Ime</strong></td>
    </tr>
    <tr th:if="${phoneNo}">
        <td>Telefon korisnika:</td>
        <td><strong th:text="${phoneNo}">Telefon</strong></td>
    </tr>
    <tr th:if="${email}">
        <td>Email korisnika:</td>
        <td><strong th:text="${email}">Email</strong></td>
    </tr>
</table>

<br/>
Pitanje:<br/>
***************************************************************
<pre style="font-weight: bold !important;font-style: normal !important;" th:text="${question}">Pitanje</pre>
***************************************************************


</body>

</html>

