<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>



<div th:fragment="content" class="consumption fixed-consumption">


        <div style="border-bottom: solid 1px #999; padding: 10px; margin: 20px 0px">
            <input class="simple-mode-radio" id="fixed-consumption-simple-mode" th:type="radio"
                   name="fixed-consumption-mode" th:checked="${consumption.fixedPhoneConsumption.inputMode.name() == 'SIMPLE'}"/>
            <label for="fixed-consumption-simple-mode" th:text="#{calculator.simpleMode}">Jednostavni unos</label> (Za jednostavan unos raspodjela
            saobraćaja je usklađena s ponašanjem karakterističnog korisnika u Crnoj Gori.)
            <br/>
            <input class="advanced-mode-radio" id="fixed-consumption-advanced-mode" th:type="radio"
                   name="fixed-consumption-mode" th:checked="${consumption.fixedPhoneConsumption.inputMode.name() == 'ADVANCED'}"/>
            <label for="fixed-consumption-advanced-mode" th:text="#{calculator.advancedMode}">Detaljni unos</label> (Za definisanje raspodjele
            saobraćaja prema konkretnim destinacijama, koristite detaljan unos potrošnje.)
        </div>



        <div class="container-fluid content-simple" th:classappend="${consumption.fixedPhoneConsumption.inputMode.name() == 'ADVANCED'} ? 'hide' : ''">

            <form id="fixed-consumption-form-simple"  class="form-horizontal" role="form" method="post" th:object="${consumption}">

                <div class="row">
                    <div class="col-sm-6 col-lg-7 col-sm-offset-6 col-lg-offset-5 ">
                        <label style="width:100% !important; text-align: center;margin-bottom: 10px;" th:text="#{calculator.consumptionEstimation}">Procjena potrošnje</label>
                        <div class="main-slider">
                            <div class="slider" > </div>
                        </div>

                        <div class="row top-margin-10">
                            <div class="col-xs-4 " style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px" th:text="#{calculator.lowConsumption}">Niska</div>
                            <div class="col-xs-4" style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px" th:text="#{calculator.mediumConsumption}">Srednja</div>
                            <div class="col-xs-4" style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px" th:text="#{calculator.highConsumption}">Visoka</div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div th:unless="${consumption.isPacket()}" class="row">

                    <div class="col-sm-12 top-margin-20">

                        <div class="row">
                            <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.userTypeWithColons}">Tip korisnika:</label>
                            <div class="col-sm-6 col-lg-7" >
                                <select th:field="*{fixedPhoneConsumption.userType}"  class="form-control userTypeSelect"
                                        data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno">
                                    <option th:each="ut : ${T(hr.m2stanic.smartbuilding.core.tariff.UserType).values()}"
                                            th:value="${ut.name()}"
                                            th:text="${ut.displayName}" >Tip korisnika</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

               <hr/>

                <div class="row fixedPhoneConsumption-timePeriod top-margin-20">

                    <label class="control-label col-sm-6 col-lg-5" th:text="#{calculator.usualInternationalTimeTalk}">Najčešće vrijeme razgovara u nacionalnom prometu</label>

                    <div class="col-sm-6 col-lg-7">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="bs-component">
                                    <select th:field="*{fixedPhoneConsumption.preferredTimePeriod}"  class="form-control">
                                        <option value="" th:text="#{calculator.anyTime}">Bilo koje vrijeme</option>
                                        <option th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}"
                                                th:value="${tp.name()}"
                                                th:selected="${tp} == *{fixedPhoneConsumption.preferredTimePeriod}"
                                                th:text="${tp.displayName}" >Vrijeme</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-6 fixedPhoneConsumption-timePeriod-slider hide">
                                <div class="slider-label" style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px">60 %</div>
                                <div class="slider"> </div>
                                <input th:each=" entry : ${consumption.fixedPhoneConsumption.timePeriodDistribution.entrySet()}" type="hidden" class="time-dist"
                                       th:field="*{fixedPhoneConsumption.timePeriodDistribution[__${entry.key}__]}"/>

                            </div>

                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">

                    <div class="col-sm-12 top-margin-20">

                            <div class="row">
                                <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.numOfMinForFixedPhoneConsumption}">Broj minuta prema fiksnim mrežama :</label>
                                <div class="col-sm-6 col-lg-7" >
                                    <input id="fixedPhoneConsumption-fixed-calls-total" class="form-control total-part" type="text"
                                           th:field="*{fixedPhoneConsumption.callMinutesFixed}"
                                           data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                           data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-lg-7 col-sm-offset-6 col-lg-offset-5">
                                    <span class="glyphicon glyphicon-triangle-right"></span>
                                    <a href="#" class="fixed-calls-distribution-toggle" data-target-class="fixed-calls-distribution" th:text="#{calculator.fixedCallDistribution}">Raspodjela po destinaciji</a>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-sm-6 col-lg-7 col-sm-offset-6 col-lg-offset-5 slider-group" >

                                    <div class="fixed-calls-distribution row top-margin-10" style="display: none">
                                        <label class="control-label col-xs-6" th:text="#{calculator.localCalls}">Lokalni pozivi</label>
                                        <div class="col-xs-6" >
                                            <div class="slider-label" style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px">0 min</div>
                                            <div class="slider slider-child" data-total-value-holder-id="fixedPhoneConsumption-fixed-calls-total"> </div>
                                            <input class="slider-value" type="hidden"  th:field="*{fixedPhoneConsumption.callMinutesFixedLocalPerc}"/>
                                        </div>
                                    </div>

                                    <div class="fixed-calls-distribution row top-margin-10" style="display: none">
                                        <label class="col-xs-6 control-label" th:text="#{calculator.interCityCall}">Međumjesni pozivi</label>
                                        <div class="col-xs-6" >
                                            <div class="slider-label" style="padding-bottom: 2px !important; text-align: center;height: 18px;font-size: 12px">0 min</div>
                                            <div class="slider slider-child" data-total-value-holder-id="fixedPhoneConsumption-fixed-calls-total" id="fixedPhoneConsumption-fixed-calls-national"> </div>
                                            <input class="slider-value" type="hidden" th:field="*{fixedPhoneConsumption.callMinutesFixedNationalPerc}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>


                <hr/>

                <div class="row">

                    <div class="col-sm-12 top-margin-20">

                        <div class="row">
                            <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.numOfMinForMobilePhoneConsumption}">Broj minuta prema mobilnim mrežama:</label>
                            <div class="col-sm-6 col-lg-7" >
                                <input id="fixedPhoneConsumption-mobile-calls-total" class="form-control total-part" type="text"  th:field="*{fixedPhoneConsumption.callMinutesMobile}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                            </div>
                        </div>
                    </div>

                </div>

                <hr/>

                <div class="row">

                    <div class="col-sm-12 top-margin-20">

                        <div class="row">
                            <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.numOfMinForForeignConsumption}">Broj minuta prema inozemstvu:</label>
                            <div class="col-sm-6 col-lg-7" >
                                <input id="fixedPhoneConsumption-international-calls-total" class="form-control total-part" type="text"  th:field="*{fixedPhoneConsumption.callMinutesInternational}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                            </div>
                        </div>


                    </div>
                </div>

                <hr/>

                <div class="fnPhysical row" >

                    <label class="col-xs-12 col-sm-6 col-lg-5 control-label" th:text="#{calculator.callsToPrefferedNumber}">Pozivi prema preferiranom broju</label>
                    <div class="col-xs-7 col-sm-4">
                        <select th:field="*{fixedPhoneConsumption.friendNoOperator}"  class="form-control enable-switch">
                            <option value="-1">-- Odaberite operatera --</option>
                            <option th:each="op : ${operators}" th:if="${op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).MOBILE || op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).FIXED}"
                                    th:value="${op.id}" th:text="${op.name}"></option>
                        </select>
                    </div>
                    <div class="col-xs-5 col-sm-2">
                        <div class="input-group">
                            <input th:field="*{fixedPhoneConsumption.friendNoCallMinutes}" type="text" class="form-control total-part mobileConsumption-ff-minutes"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                            <span class="input-group-addon">min</span>
                        </div>
                    </div>

                </div>



                <div class="fnLegal row hide" >
                    <label  class="col-xs-12 col-sm-6 col-lg-5 control-label">Broj minuta unutar grupe korisnika</label>
                    <div class="col-sm-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">U fiksnoj mreži</span>
                            <input th:field="*{fixedPhoneConsumption.groupNoCallMinutesFixed}"  type="text" class="form-control total-part"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>

                        </div>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-3 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">U mobilnoj mreži</span>
                            <input th:field="*{fixedPhoneConsumption.groupNoCallMinutesMobile}"  type="text" class="form-control total-part"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                        </div>

                    </div>
                </div>

                <hr/>

                <div class="row">

                    <div class="col-sm-12 top-margin-20">
                        <div>
                            <div class="row">
                                <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.totalMinutes}">Ukupno minuta:</label>
                                <div class="col-sm-6 col-lg-7" >
                                    <input id="fixedPhoneConsumption-total" class=" form-control total" type="text"  th:value="${consumption.fixedPhoneConsumption.getCallMinutes()}" readonly="readonly"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="fixedPhoneConsumption.userProfile" th:value="-1"/>

            </form>

        </div>


        <div class="container-fluid content-advanced" th:classappend="${consumption.fixedPhoneConsumption.inputMode.name() == 'SIMPLE'} ? 'hide' : ''">


            <form id="fixed-consumption-form-advanced"  class="form-horizontal" role="form" method="post" th:object="${consumption}">


                <div th:unless="${consumption.isPacket()}" class="row">

                    <div class="col-sm-12 top-margin-20">

                        <div class="row">
                            <label class="col-sm-6 col-lg-5 control-label" th:text="#{calculator.userTypeWithColons}">Tip korisnika:</label>
                            <div class="col-sm-6 col-lg-7" >
                                <select th:field="*{fixedPhoneConsumption.userType}"  class="form-control userTypeSelect">
                                    <option th:each="ut : ${T(hr.m2stanic.smartbuilding.core.tariff.UserType).values()}"
                                            th:value="${ut.name()}"
                                            th:text="${ut.displayName}" >Tip korisnika</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <hr/>


                <!--@thymesVar id="operators" type="java.util.Collection<hr.m2stanic.smartbuilding.core.operator.Operator>"-->

                <h4 style="margin-top: 20px" th:text="#{calculator.localCallsToFixedNetworks}">Lokalni pozivi prema fiksnim mrežama </h4>
                <div th:replace="calculator/advanced-modeconsumption-header"></div>

                <div>

                    <div class="operator-call-minutes row top-margin-10" th:each="otc : ${consumption.fixedPhoneConsumption.operatorFixedLocalCallMinutes}"
                         th:styleappend="${otcStat.index &gt; 0} ? 'display:none;' : ''">
                        <div class="col-xs-4">
                            <select th:name="'fixedPhoneConsumption.operatorFixedLocalCallMinutes[__${otcStat.index}__].operator'"
                                    class="form-control enable-switch" data-value="" onfocus="this.setAttribute('data-value', this.value);" >
                                <option value="-1">-- Odaberite operatera --</option>

                                <option th:each="op : ${operators}" th:if="${op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).FIXED}" th:value="${op.id}" th:text="${op.name}"
                                        th:selected="${otc.operator?.id == op.id}"></option>
                            </select>
                        </div>

                        <div th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}" class="col-xs-2">
                            <div class="input-group">
                                <input type="text" class="form-control disabable" th:disabled="${otc.operator == null}"
                                       th:field="*{fixedPhoneConsumption.operatorFixedLocalCallMinutes[__${otcStat.index}__].timePeriodCallMinutes[__${tp}__]}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                <span class="input-group-addon">min</span>
                            </div>

                        </div>

                        <div class="col-xs-2 hidden-xs">
                            <div class="input-group">
                                <input type="text" class="form-control total-part" th:value="${consumption.fixedPhoneConsumption.operatorFixedLocalCallMinutes[__${otcStat.index}__].totalMinutes}"  readonly="readonly"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <hr/>
                <h4 style="margin-top: 20px" th:text="#{calculator.nationalCallsToFixedNetworks}">Nacionalni pozivi prema fiksnim mrežama </h4>
                <div th:replace="calculator/advanced-modeconsumption-header"></div>

                <div>
                    <div class="operator-call-minutes row top-margin-10" th:each="otc : ${consumption.fixedPhoneConsumption.operatorFixedNationalCallMinutes}" th:styleappend="${otcStat.index &gt; 0} ? 'display:none;' : ''">
                        <div class="col-xs-4">
                            <select th:name="'fixedPhoneConsumption.operatorFixedNationalCallMinutes[__${otcStat.index}__].operator'"
                                    class="form-control enable-switch" data-value="" onfocus="this.setAttribute('data-value', this.value);" >
                                <option value="-1">-- Odaberite operatera --</option>
                                <option th:each="op : ${operators}" th:if="${op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).FIXED}" th:value="${op.id}" th:text="${op.name}"
                                        th:selected="${otc.operator?.id == op.id}"></option>
                            </select>
                        </div>

                        <div th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}" class="col-xs-2">
                            <div class="input-group">
                                <input type="text" class="form-control disabable" th:disabled="${otc.operator == null}"
                                       th:field="*{fixedPhoneConsumption.operatorFixedNationalCallMinutes[__${otcStat.index}__].timePeriodCallMinutes[__${tp}__]}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>

                        <div class="col-xs-2  hidden-xs">
                            <div class="input-group">
                                <input type="text" class="form-control total-part" th:value="${consumption.fixedPhoneConsumption.operatorFixedNationalCallMinutes[__${otcStat.index}__].totalMinutes}"  readonly="readonly"/>
                                <span class="input-group-addon">min</span>
                            </div>

                        </div>
                    </div>
                </div>

                <hr/>
                <h4 style="margin-top: 20px" th:text="#{calculator.callsToMobileNetworks}">Pozivi prema mobilnim mrežama</h4>
                <div th:replace="calculator/advanced-modeconsumption-header"></div>

                <div>
                    <div class="operator-call-minutes row top-margin-10" th:each="otc : ${consumption.fixedPhoneConsumption.operatorMobileCallMinutes}" th:styleappend="${otcStat.index &gt; 0} ? 'display:none;' : ''">
                        <div class="col-xs-4">
                            <select th:name="'fixedPhoneConsumption.operatorMobileCallMinutes[__${otcStat.index}__].operator'"
                                    class="form-control enable-switch" data-value="" onfocus="this.setAttribute('data-value', this.value);" >
                                <option value="-1">-- Odaberite operatera --</option>
                                <option th:each="op : ${operators}" th:if="${op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).MOBILE}" th:value="${op.id}" th:text="${op.name}"
                                        th:selected="${otc.operator?.id == op.id}"></option>
                            </select>
                        </div>

                        <div th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}" class="col-xs-2">
                            <div class="input-group">
                                <input type="text" class="form-control disabable" th:disabled="${otc.operator == null}"
                                       th:field="*{fixedPhoneConsumption.operatorMobileCallMinutes[__${otcStat.index}__].timePeriodCallMinutes[__${tp}__]}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>

                        <div class="col-xs-2 hidden-xs">
                            <div class="input-group">

                                <input type="text" class="form-control total-part" th:value="${consumption.fixedPhoneConsumption.operatorMobileCallMinutes[__${otcStat.index}__].totalMinutes}"  readonly="readonly"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <hr/>
                <h4 style="margin-top: 20px" th:text="#{calculator.internationalCallsToFixedNetworks}">Međunarodni pozivi prema fiksnim mrežama</h4>
                <div th:replace="calculator/advanced-modeconsumption-header"></div>

                <div>
                    <div class="operator-call-minutes row top-margin-10" th:each="otc : ${consumption.fixedPhoneConsumption.countryInternationalFixedCallMinutes}" th:styleappend="${otcStat.index &gt; 0} ? 'display:none;' : ''">
                        <div class="col-xs-4">
                            <select th:name="'fixedPhoneConsumption.countryInternationalFixedCallMinutes[__${otcStat.index}__].country'"
                                    class="form-control enable-switch" data-value="" onfocus="this.setAttribute('data-value', this.value);" >
                                <option value="-1">-- Odaberite državu --</option>
                                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"
                                        th:selected="${otc.country?.id == country.id}"></option>
                            </select>
                        </div>


                        <div th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}" class="col-xs-2">
                            <div class="input-group">
                                <input type="text" class="form-control disabable" th:disabled="${otc.country == null}"
                                       th:field="*{fixedPhoneConsumption.countryInternationalFixedCallMinutes[__${otcStat.index}__].timePeriodCallMinutes[__${tp}__]}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>

                        <div class="col-xs-2 hidden-xs">
                            <div class="input-group">
                                <input type="text" class="form-control total-part" th:value="${consumption.fixedPhoneConsumption.countryInternationalFixedCallMinutes[__${otcStat.index}__].totalMinutes}" readonly="readonly"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <hr/>
                <h4 style="margin-top: 20px" th:text="#{calculator.internationalCallsToMobileNetworks}">Međunarodni pozivi prema mobilnim mrežama</h4>
                <div th:replace="calculator/advanced-modeconsumption-header"></div>

                <div>
                    <div class="operator-call-minutes row top-margin-10" th:each="otc : ${consumption.fixedPhoneConsumption.countryInternationalMobileCallMinutes}" th:styleappend="${otcStat.index &gt; 0} ? 'display:none;' : ''">
                        <div class="col-xs-4">
                            <select th:name="'fixedPhoneConsumption.countryInternationalMobileCallMinutes[__${otcStat.index}__].country'"
                                    class="form-control enable-switch" data-value="" onfocus="this.setAttribute('data-value', this.value);" >
                                <option value="-1">-- Odaberite državu --</option>
                                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"
                                        th:selected="${otc.country?.id == country.id}"></option>
                            </select>
                        </div>


                        <div th:each="tp : ${T(hr.m2stanic.smartbuilding.core.TimePeriod).values()}" class="col-xs-2">
                            <div class="input-group">
                                <input type="text" class="form-control disabable" th:disabled="${otc.country == null}"
                                       th:field="*{fixedPhoneConsumption.countryInternationalMobileCallMinutes[__${otcStat.index}__].timePeriodCallMinutes[__${tp}__]}"
                                       data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                       data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>

                        <div class="col-xs-2 hidden-xs">
                            <div class="input-group">
                                <input type="text" class="form-control total-part" th:value="${consumption.fixedPhoneConsumption.countryInternationalMobileCallMinutes[__${otcStat.index}__].totalMinutes}" readonly="readonly"/>
                                <span class="input-group-addon">min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 style="margin-top: 20px">&nbsp;</h4>

                <div class="fnPhysical row">

                    <label class="col-sm-3 control-label" th:text="#{calculator.callsToPrefferedNumber}">Pozivi prema preferiranom broju</label>
                    <div class="col-sm-4">
                        <select th:field="*{fixedPhoneConsumption.friendNoOperator}"  class="form-control enable-switch">
                            <option value="-1">-- Odaberite operatera --</option>
                            <option th:each="op : ${operators}" th:if="${op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).MOBILE || op.networkType == T(hr.m2stanic.smartbuilding.core.NetworkType).FIXED}"
                                    th:value="${op.id}" th:text="${op.name}"></option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input th:field="*{fixedPhoneConsumption.friendNoCallMinutes}" type="text" class="form-control total-part mobileConsumption-ff-minutes" placeholder="Broj minuta"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0" />
                            <span class="input-group-addon">min</span>
                        </div>
                    </div>

                </div>



                <div class="fnLegal row hide">
                    <label  class="col-sm-4 control-label">Pozivi unutar grupe korisnika</label>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">U fiksnoj mreži</span>
                            <input th:field="*{fixedPhoneConsumption.groupNoCallMinutesFixed}"  type="text" class="form-control total-part"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                            <span class="input-group-addon">min</span>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">U mobilnoj mreži</span>
                            <input th:field="*{fixedPhoneConsumption.groupNoCallMinutesMobile}"  type="text" class="form-control total-part"
                                   data-bv-notempty="" data-bv-notempty-message="Morate unijeti cijeli broj jednak ili veći od 0"  data-bv-integer="" data-bv-integer-message="Morate unijeti cijeli broj jednak ili veći od 0"
                                   data-bv-greaterthan="" data-bv-greaterthan-inclusive="true" data-bv-greaterthan-value="0" data-bv-greaterthan-message="Morate unijeti cijeli broj jednak ili veći od 0"/>
                            <span class="input-group-addon">min</span>
                        </div>

                    </div>
                </div>

                <h4 style="margin-top: 20px">&nbsp;</h4>

                <div class="row top-margin-20">
                    <label class="col-sm-8 control-label" th:text="#{calculator.totalMonthly}">Ukupno mjesečno</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="text" class="form-control total" readonly="readonly"/>
                            <span class="input-group-addon">min</span>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="fixedPhoneConsumption.userProfile" th:value="-1"/>

            </form>

        </div>


    <hr/>
    <div class="row top-margin-20">

        <div class="col-sm-4 form-group">
            <input id="useTariffOptionsCB" type="checkbox" class="userTariffOptionsToggle" th:checked="${consumption.fixedPhoneConsumption.useTariffOptions}"/>
            <label for="useTariffOptionsCB" th:text="#{calculator.takeTariffOptionsInCalculation}">Uzmi tariffne opcije u izračun &nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>

        <div  class="col-sm-8 form-group" style="font-size: 12px !important;">

            <div class="pull-right" style="margin-left: 10px !important;">
                <span class="final-btn">
                    <button  type="button" class="consumption-submit btn btn-default" th:text="#{calculator.calculate}">Izračunaj</button>
                </span>
            </div>


        </div>
    </div>



</div>

</body>
</html>