<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>


    <div th:fragment="content" class="widget panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{calculator.packages}"> Paketi </h3>
        </div>


        <div class="panel-body">



            <form class="form-horizontal" th:object="${consumption}" method="get" th:action="@{/}">


                <div class="form-group">
                    <label class="col-sm-3 control-label" th:text="#{calculator.userType}">Tip korisnika</label>
                    <div class="col-sm-8">
                        <div class="bs-component">
                            <select name="userType" class="form-control"
                                    data-bv-notempty=""  data-bv-notempty-message="Polje mora biti popunjeno">
                                <option th:each="ut : ${T(hr.m2stanic.smartbuilding.core.tariff.UserType).values()}"
                                        th:value="${ut.name()}"
                                        th:text="${ut.displayName}" >Tip korisnika</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label" th:text="#{calculator.combinationOfServices}">Kombinacija usluga</label>
                    <div class="col-sm-8">
                        <div class="top-margin-10">
                            <input type="checkbox"  name="fixedTariff" id="fixedTariffCB"/>
                            <label for="fixedTariffCB" th:text="#{calculator.fixedTelephone}">Fiksni telefon</label>
                        </div>

                        <div>
                            <input type="checkbox"  name="internetTariff" id="internetTariffCB"/>
                            <label for="internetTariffCB">Internet</label>
                        </div>

                        <div>
                            <input type="checkbox"  name="tvTariff" id="tvTariffCB"/>
                            <label for="tvTariffCB" th:text="#{calculator.audioAndVideoTv}">AVM usluge (TV)</label>
                        </div>

                        <div>
                            <input type="checkbox"  name="mobileTariff" id="mobileTariffCB"/>
                            <label for="mobileTariffCB" th:text="#{calculator.mobileTelephone}">Mobilni telefon</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <div>
                            <button type="button" class="btn btn-primary pull-right" onclick="validateSelection()" th:text="#{calculator.nextButton}">Dalje</button>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="packets" value="true"/>

            </form>

            <script th:inline="javascript">

                function validateSelection(){
                    var selectedCBCount = $("form input:checkbox:checked").length;
                    if( selectedCBCount == 0) {
                        showMessageDialog(null, "Morate odabrati najmanje jednu uslugu!");
                        return false;
                    }
                    else $("form").submit();

                }


                function showMessageDialog(title, message){
                    $("#messageModal .modal-title").html(title ? title : "Poruka");
                    $("#messageModal .modal-body").html(message ? message : "");
                    if(title)
                        $("#messageModal .modal-header").show();
                    else
                        $("#messageModal .modal-header").hide();

                    $("#messageModal").modal("show");
                }
            </script>

        </div>
    </div>






</body>
</html>