<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div th:fragment="content">


    <div>
        <h2>Tržišno učešće</h2>

        <form method="post" th:object="${marketShare}" >
            <div class="row">

                <div>


                    <div class="panel">
                        <div class="panel-heading" th:text="#{admin.mobileNet}">Mobilne mreže</div>
                        <div class="panel-body">

                            <table class="table" width="900" style="width: 900px !important;">
                                <thead>
                                    <tr>
                                        <th width="300">Operator</th>
                                        <th width="200">Tržišno učešće</th>
                                        <th width="200">Pozivi u domaćoj mreži</th>
                                        <th width="200">SMS u domaćoj mreži</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="operator : ${ms.mobileOperators}">
                                        <td th:text="${operator.name}">Operator</td>

                                        <td align="center">
                                            <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control"  th:name="'mobileOperators[__${operatorStat.index}__].marketShare'" th:value="${operator.marketShare}"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                            </div>
                                        </td>

                                        <td align="center">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="col-xs-12 form-control"  th:name="'mobileOperators[__${operatorStat.index}__].homeNetworkCallPercent'" th:value="${operator.homeNetworkCallPercent}"/>
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </td>


                                        <td align="center">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="col-xs-12 form-control"  th:name="'mobileOperators[__${operatorStat.index}__].homeNetworkSMSPercent'" th:value="${operator.homeNetworkSMSPercent}"/>
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div th:if="${mobilePercentSumError}" class="alert alert-danger">
                                <p th:text="${mobilePercentSumError}"></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div>


                    <div class="panel">
                        <div class="panel-heading" th:text="#{admin.fixedNet}">Fiksne mreže</div>
                        <div class="panel-body">

                            <table class="table" width="900" style="width: 900px !important;">
                                <thead>
                                <tr>
                                    <th width="300">Operator</th>
                                    <th width="200">Tržišno učešće</th>
                                    <th width="200">Pozivi u domaćoj mreži</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="operator : ${ms.fixedOperators}">
                                    <td th:text="${operator.name}">Operator</td>

                                    <td align="center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="col-xs-12 form-control"  th:name="'fixedOperators[__${operatorStat.index}__].marketShare'" th:value="${operator.marketShare}"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </td>

                                    <td align="center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="col-xs-12 form-control"  th:name="'fixedOperators[__${operatorStat.index}__].homeNetworkCallPercent'" th:value="${operator.homeNetworkCallPercent}"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </td>



                                </tr>

                                </tbody>
                            </table>

                            <div th:if="${fixedPercentSumError}" class="alert alert-danger">
                                <p th:text="${fixedPercentSumError}"></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>




            <div>
                <button type="submit" class="btn btn-primary">Spremi</button>
            </div>

        </form>

    </div>

</div>






</body>
</html>