<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div th:fragment="content">

    <div class="tray tray-center" >

        <div class="mw1000 center-block">

            <div class="blue-top" >

                <div class="panel heading-border panel-primary">

                    <div class="panel-body bg-light">

                        <h2 th:text="${operatorDTO.name}" th:if="${operatorDTO.id}"></h2>
                        <h2 th:unless="${operatorDTO.id}">Novi operator</h2>

                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Uredi podatke operatora</span>
                            </div>
                            <div class="panel-body">



                                <form class="form-horizontal" role="form" method="post" th:object="${operatorDTO}">

                                    <div class="alert alert-danger alert-dismissable" th:if="${#fields.hasErrors('*')}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>
                                        <strong>Molimo ispravite sljedeće greške</strong>
                                        <ul >
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label for="operatorName" class="col-lg-3 control-label">Naziv</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text" id="operatorName" th:field="*{name}" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="operatorPrefix" class="col-lg-3 control-label">Skraćeni naziv</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <input type="text" id="operatorPrefix" th:field="*{shortName}" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="operatorPrefix" class="col-lg-3 control-label">Tip mreže</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <select th:field="*{networkType}" class="form-control">
                                                    <option th:each="networkType : ${T(hr.m2stanic.smartbuilding.core.NetworkType).values()}"
                                                            th:value="${networkType}"
                                                            th:selected="${operatorDTO.networkType == networkType}"
                                                            th:text="${networkType.displayName}">Mreza</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="operatorPrefix" class="col-lg-3 control-label">Kompanija operatora</label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <select th:field="*{operatorGroup}" class="form-control">
                                                    <option th:each="og : ${userGroups}"
                                                            th:value="${og.id}"
                                                            th:text="${og.name}">Operator company</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-lg-3 control-label"></label>
                                        <div class="col-lg-8">
                                            <div class="bs-component">
                                                <div class="pull-right">
                                                    <a th:href="@{/admin/operator/list}">
                                                        <button type="button" class="btn btn-danger btn-gradient">Otkaži</button>
                                                    </a>
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <button type="submit" class="btn btn-dark btn-gradient dark">Spremi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <aside class="tray tray-right tray290" >
        <h4> Operatori </h4>

        <div >

            <div id="nav-spy">
                <ul class="nav tray-nav" data-smoothscroll="-90">

                    <li th:each="opr : ${operatorList}" th:class="${opr.id == operatorDTO.id}? 'active' : ''">
                        <a th:href="@{/admin/operator/edit?id={oprId}(oprId=${opr.id})}">
                            <span class="fa fa-edit fa-lg"></span>
                            <span th:text="${opr.name}">Form UI Elements</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </aside>

</div>




</body>
</html>