<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="aptLayout">
    <h3>Postavke za automatsku kontrolu svjetla</h3>

    <div class="tab-block mb25">
        <ul class="nav tabs-left tabs-border">
            <li class="active">
                <a href="#tabContent" data-toggle="tab" id="livingroom">Dnevna soba</a>
            </li>
            <li>
                <a href="#tabContent" data-toggle="tab" id="kitchen">Kuhinja</a>
            </li>
            <li>
                <a href="#tabContent" data-toggle="tab" id="bathroom">Kupaonica</a>
            </li>
            <li>
                <a href="#tabContent" data-toggle="tab" id="bedroom">Spavaća soba</a>
            </li>
            <li>
                <a href="#tabContent" data-toggle="tab" id="hallway">Hodnik</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tabContent" class="tab-pane active">
                <div th:replace="admin/fragments/apartmentLayoutAdvanced_tab :: tabLayout">...</div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        //<![CDATA[

        $(document).ready(function () {
            var selectedRoom = "livingroom";

            $('#datetimepicker3').datetimepicker({
                format: 'HH:mm',
                useCurrent: true,
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }

            });


            $('#livingroom').click(function () {
                selectedRoom = "livingroom";
            });
            $('#kitchen').click(function () {
                selectedRoom = "kitchen";
            });
            $('#bathroom').click(function () {
                selectedRoom = "bathroom";
            });
            $('#bedroom').click(function () {
                selectedRoom = "bedroom";
            });
            $('#hallway').click(function () {
                selectedRoom = "hallway";
            });


            var url = "admin/user/apartmentLayout/advanced";
            var apartmentId = $('#apartmentId').val();
            $("#save").click(function () {
                console.log("from:" + selectedRoom);
                console.log($('.dayPick:checkbox:checked'))
            });
        });

        //]]>
    </script>

</div>

</body>
</html>