<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>


<div class="sidebar-left-content nano-content" th:fragment="navigation">

    <!-- Start: Sidebar Menu -->
    <ul class="nav sidebar-menu">


        <li class="sidebar-label pt15">MENU</li>
<!--loggedInUser.getRole().getScope().equals(RoleScope.ADMIN)-->
        <!--<span th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).ADMIN}"></span>-->
        <li th:classappend="${mainNavSel == T(hr.m2stanic.smartbuilding.web.admin.MainNavigationItem).DASHBOARD} ? 'active' : ''">
            <a th:href="@{/admin/}"
               th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).ADMIN}">
                <span class="glyphicons glyphicon-home"></span>
                <span class="sidebar-title">Pregled aktivnosti</span>
                <!--<span class="sidebar-title" th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).TENANT}">Upravljanje stanom</span>-->
            </a>
            <a href="#"
               th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).TENANT}"
               class="accordion-toggle"
               th:classappend="${mainNavSel == T(hr.m2stanic.smartbuilding.web.admin.MainNavigationItem).DASHBOARD} ? 'menu-open' : ''">
                <span class="glyphicons glyphicon-home"></span>
                <span class="sidebar-title">Upravljanje stanom</span>
                <span class="caret"></span>
            </a>

            <ul class="nav sub-nav">
                <li>
                    <a th:href="@{admin/user/apartmentLayout/simple(apartmentId=${loggedInUser.apartment.id})}">
                        <span>Jednostavno upravljanje</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{admin/user/apartmentLayout/advanced(apartmentId=${loggedInUser.apartment.id})}">
                        <span>Napredno upravljanje</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{admin/user/apartmentLayout/cronList(apartmentId=${loggedInUser.apartment.id})}">
                        <span>Automatizirane akcije</span>
                    </a>
                </li>

            </ul>
        </li>


        <li>
            <a th:classappend="${mainNavSel == T(hr.m2stanic.smartbuilding.web.admin.MainNavigationItem).MESSAGES} ? 'menu-open' : ''" th:href="@{/admin/messages/list}">
                <span class="glyphicons glyphicons-envelope"></span>
                <span class="sidebar-title">Poruke (<span id="unreadMsgCount" th:text="${unreadMsgCount}"></span>)</span>
            </a>
        </li>

        <!--@thymesVar id="loggedInUser" type="hr.m2stanic.smartbuilding.core.user.User"-->
        <li th:if="${loggedInUser.role.hasPermission(T(hr.m2stanic.smartbuilding.core.security.Permission).MANAGE_USERS)}">
            <a href="#" th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).ADMIN}" class="accordion-toggle"
               th:classappend="${mainNavSel == T(hr.m2stanic.smartbuilding.web.admin.MainNavigationItem).USERS} ? 'menu-open' : ''">
                <span class="glyphicons glyphicons-group"></span>
                <span class="sidebar-title">Popis stanova</span>
                <span class="caret"></span>
            </a>


            <ul class="nav sub-nav">

                <li th:each="apt : ${apartments}">
                    <a th:href="@{/admin/user/list(apartmentId=${apt.id})}">
                        <span class="glyphicons glyphicons-building"></span>
                        <span th:text="${apt.name.length() &gt; 18} ? ${apt.name.substring(0,18)} + '...' : ${apt.name}"
                              th:title="${apt.name}">Agency name</span>
                    </a>
                </li>
                <li th:each="ta : ${tenantApartments}">
                    <a th:href="@{/admin/user/list(apartmentId=${ta.id})}">
                        <span class="glyphicons glyphicons-building"></span>
                        <span th:text="${ta.name.length() &gt; 18} ? ${ta.name.substring(0,18)} + '...' : ${ta.name}" th:title="${ta.name}">Operator name</span>
                    </a>
                </li>
            </ul>

        </li>
        <li th:if="${loggedInUser.role.hasPermission(T(hr.m2stanic.smartbuilding.core.security.Permission).MANAGE_USERS)}">
            <a th:href="@{/admin/user/list(apartmentId=${loggedInUser.apartment.id})}"
               th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).TENANT}">
                <span class="glyphicons glyphicons-group"></span>
                <span class="sidebar-title">Popis stanara</span>
            </a>
        </li>


        <li>
            <a th:href="@{/res/tenant-manual.pdf}" target="_blank"
               th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).TENANT}">
                <span class="glyphicons glyphicons-book_open"></span>
                <span class="sidebar-title">Upute za korištenje</span>
            </a>
            <a th:href="@{/res/admin-manual.pdf}" target="_blank"
               th:if="${loggedInUser.role.scope == T(hr.m2stanic.smartbuilding.core.security.RoleScope).ADMIN}">
                <span class="glyphicons glyphicons-book_open"></span>
                <span class="sidebar-title">Upute za korištenje</span>
            </a>
        </li>

    </ul>
    <!-- End: Sidebar Menu -->

    <!-- Start: Sidebar Collapse Button -->
    <div class="sidebar-toggle-mini">
        <a href="#">
            <span class="fa fa-sign-out"></span>
        </a>
    </div>
    <!-- End: Sidebar Collapse Button -->

</div>

</body>
</html>