<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div th:fragment="content">

    <div class="tray tray-center">

        <div class="mw1000 center-block">

            <div class="blue-top">

                <div class="panel heading-border panel-primary">

                    <div class="panel-body bg-light">
                        <H1>Greška</H1>

                        <h2>Nemate pravo prisupa trazenim podacima</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>