<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>


<div th:fragment="content" class="widget panel panel-default">


    <div class="panel-heading">
        <h2 class="panel-title"> Uslovi korišćenja </h2>
    </div>

    <div class="panel-body">


        <h3>Uslovi korišćenja</h3>

        <p>
            Agencija za elektronske komunikacije i poštansku djelatnost je, u saradnji sa Inovativni trendovi d.o.o. iz Zagreba, razvila web aplikaciju za pomoć korisnicima prilikom izbora elektronskih komunikacionih usluga u Crnoj Gori. ,,Kalkulator" je interaktivni alat za poređenje ponuda javnih elektronskih komunikacionih usluga u Crnoj Gori, u dijelu fiksne i mobilne telefonije, usluga pristupa internetu, distribucije TV i radio programa (AVM sadržaja) i kombinovanih paketa navedenih usluga.
        </p>

        <h4>Informativni karakter</h4>

        <p>
            ,,Kalkulator" korisniku pomaže u izboru  elektronske komunikacione usluge, koja odgovara njegovim potrebama. ,,Kalkulator" ima informativni karakter. Zasniva se  na podacima o cijenama i opisu usluga koje  unose operatori elektronskih komunikacija. ,,Kalkulator" korisniku, na osnovu podataka o željenoj elektronskoj komunikacionoj usluzi koje unosi korisnik i podataka koje su unijeli operatori elektronskih komunikacija, daje rang listu najpovoljnijih usluga iz ponude operatora, koje odgovaraju zahtjevima korisnika. Rezultati dobijeni uz pomoć ,,Kalkulatora" ne predstavljaju mjesečne račune za korištenje javnih elektronskih komunikacionih usluga.
        </p>

        <h4>Ovo nije ponuda za zaključenje ugovora</h4>

        <p>
            Proračun dobijen korišćenjem ,,Kalkulatora" ne predstavlja ponudu za zaključenje ugovora o korištenju usluge od strane Agencije za elektronske komunikacije ili operatora elektronskih komunikacija na čije se usluge i cijene proračun odnosi i iz tog razloga nema pravno obavezujući karakter. Za stvarni proračun, dobijanje ponude i zaključenje ugovora korisnik je dužan da se obrati direktno operatoru elektronskih komunikacija koga je korisnik izabrao na osnovu preporuke/proračuna  ,,Kalkulatora".
        </p>

        <h4>Korišćenje podataka od strane medija</h4>

        <p>
            U slučaju da se rezultati ,,Kalkulatora" koriste u svrhu pripremanja tekstova, priloga, analiza, obavještenja i drugih oblika javnog informisanja, autori takvih tekstova i priloga su dužni da u takvim tekstovima i prilozima naznače informativni karakter ,,Kalkulatora".
        </p>



    </div>
</div>


</body>
</html>