.blue-top {
    border-top: solid 6px #256bcc;
}

.field-icon i{
    line-height: inherit;
}

.inline-checbox-wrap{
    float: left;
    margin-right: 30px !important;
    vertical-align: middle;
}
.inline-checbox-wrap input{
    vertical-align: middle;
    margin: 0 5px !important;
}

.form-control[disabled], fieldset[disabled] .form-control{
    background-color: #e2e2e2 !important;
    color: #555 !important;
}

 .form-control[readonly]{
    background-color: #e2e2e2 !important;
    color: #333333 !important;
}

select[multiple], select[size] {
    height: 35px !important;
}

.user-profile h2, .user-profile h3 {
    margin-top: 20px !important;
    padding-top: 20px !important;
    margin-bottom: 20px !important;
    border-top: solid 1px #ccc;
}

.user-profile h3 {
    color: #999 !important;
}

.kill-padding-left {
    padding-left: 0px !important;
}

.kill-padding-right {
    padding-right: 0px !important;
}

.top-margin-20 {
    margin-top: 20px !important;
}

.top-margin-10 {
    margin-top: 10px !important;
}

.operator-distribution-toggle, .fixed-calls-distribution-toggle {
    font-size: 12px !important;
}

.wizzard-nav {
    /*centering*/
    display: inline-block;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
    overflow: hidden;
    border: solid 1px #ccc;
    /*border-radius: 5px;*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
    padding-left: 0px;;
}

.wizzard-nav li {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.wizzard-nav li:first-child {
    padding-left: 46px;
    border-radius: 0px 0 0 0px; /*to match with the parent's radius*/
}
.wizzard-nav li:first-child:before {
    left: 14px;
    text-align: center;
}
.wizzard-nav li:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.wizzard-nav li.active {
    background: #333;
    background: linear-gradient(#333, #000);
}
.wizzard-nav li.active:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

.wizzard-nav li a, .wizzard-nav li a:hover {
    color: #555;
    text-decoration: none !important;
    cursor: default;
}

.wizzard-nav li.active a {
    color: #ffffff !important;
}

/*adding the arrows for the wizzard-navs using rotated pseudo elements*/
.wizzard-nav li:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .wizzard-nav a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.wizzard-nav li:last-child:after {
    content: none;
}
/*we will use the :before element to show numbers*/
.wizzard-nav li:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
    text-align: center;
}


.flat li, .flat li:after {
    background: white;
    color: black;
    transition: all 0.5s;
}
.flat li:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

 .flat li.active,
 .flat li.active:after{
    background: #406088;
}

pre {
    padding: 0px !important;
    margin: 0px !important;
    font-size: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
    background-color: transparent;
    border: none !important;
    font-family: inherit !important;
}

.final-btn{

}

.consumption-prev, .consumption-next {
    margin-right: 15px !important;
    font-size: 13px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    border: none !important;
}



.input-group-addon {
    color: inherit !important;
}

footer{
    height: 80px;
    padding: 20px;
    text-align: center;
    border-top: solid 1px #ccc;
}




.tariff-option-benefit-table-cell {
    vertical-align:top !important;
    border-bottom: 1px solid #999 !important;
}



.results .calc-detail .panel-default{
    margin-bottom: 10px !important;
}

.results .calc-detail .panel-heading {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.results .calc-detail .panel-default>.panel-heading {
    border-color: transparent;
    padding: 2px 5px !important; background-color: #f5f5f5 !important;
    font-weight: bold;
}


.results .calc-detail .panel-default>.panel-body {
    font-size: 11px;
}

.results .calc-detail .panel-default.consumption-dest-group>.panel-body,
.results .calc-detail .panel-default.consumption-dest>.panel-body {
    margin-bottom: 0px !important;padding: 0px !important;
    margin-bottom: 0px !important;padding: 0px !important;
}

.results .calc-detail .panel-default>.panel-body .result-overview {
    padding: 2px 5px !important; background-color: #f5f5f5; font-size: 11px;
}

.results .calc-detail .panel-default  table {
    margin-bottom: 0px !important;

}
.results .calc-detail .panel-default table td {
    font-weight: inherit;
}

.results .calc-detail .panel .dest-group-children {
    padding: 10px 30px !important;
}


a .glyphicon-collapse-down {
    color: #4987cc;
}


