<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head">
    <meta charset="UTF-8"/>
    <title></title>
    <base href="/"/>
</head>

<body class="external-page sb-l-c sb-r-c">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>

        <!-- Begin: Content -->
        <section id="content">

            <div class="admin-form theme-info" id="login1">



                <div class="panel panel-info mt10 br-n">

                    <div class="panel-heading heading-border bg-white">

                        <div class="section row mn">

                            <img src="res/img/SM-LOGO.png" title="EKIP Logo" class="img-responsive"/>

                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert"
                         th:if="${#httpServletRequest.getAttribute('shiroLoginFailure')}">
                        Prijava nije uspjela, netočno korisničko ime ili password!
                    </div>
                    <!-- end .form-header section -->
                    <form role="form" name="loginform" method="post">
                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-7 pr30">

                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Korisničko ime</label>
                                        <label for="username" class="field prepend-icon">
                                            <input type="text" name="username" id="username" class="gui-input" placeholder="Unesite korisničko ime"/>
                                            <label for="username" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Lozinka</label>
                                        <label for="password" class="field prepend-icon">
                                            <input type="password" name="password" id="password" class="gui-input" placeholder="Unesite lozinku"/>
                                            <label for="password" class="field-icon">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                </div>
                                <div class="col-sm-5 br-l br-grey pl30">
                                    <h3 class="mb25" th:text="#{admin.smartbuildingTitle}"> smart building title</h3>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Upravljanje rasvjetom u stanu
                                    </p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Upravljanje utičnicama u
                                        stanu</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Dodavanje novih korisnika</p>
                                </div>
                            </div>
                        </div>
                        <!-- end .form-body section -->
                        <div class="panel-footer clearfix p10 ph15">
                            <button type="submit" class="button btn-primary mr10 pull-right">Prijava</button>
                            <label class="switch ib switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked="true"/>
                                <label for="remember" data-on="DA" data-off="NE"></label>
                                <span>Zapamti me</span>
                            </label>
                        </div>
                        <!-- end .form-footer section -->
                    </form>
                </div>
            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script src="res/theme/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="res/theme/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- CanvasBG Plugin(creates mousehover effect) -->
<script src="res/theme/vendor/plugins/canvasbg/canvasbg.js"></script>

<!-- Theme Javascript -->
<script src="res/theme/assets/js/utility/utility.js"></script>
<script src="res/theme/assets/js/demo/demo.js"></script>
<script src="res/theme/assets/js/main.js"></script>

<!-- Page Javascript -->
<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();



        // Init CanvasBG and pass target starting location
        CanvasBG.init({
            Loc: {
                x: window.innerWidth / 2,
                y: window.innerHeight / 3.3
            }
        });

    });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>
