<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head">
    <meta charset="UTF-8"/>
    <title></title>
    <base href="/"/>
</head>

<body class="external-page external-alt sb-l-c sb-r-c">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Begin: Content -->
        <section id="content">

            <div class="admin-form theme-info mw500" id="login">

                <!-- Login Logo -->
                <div class="row table-layout">
                    <img src="res/img/SM-LOGO.png" title="Logo" class="center-block img-responsive" style="max-width: 275px;"/>
                </div>

                <!-- Login Panel/Form -->
                <div class="panel mt30 mb25">

                    <div class="alert alert-danger" role="alert"
                         th:if="${#httpServletRequest.getAttribute('shiroLoginFailure')}">
                        Prijava nije uspjela, netočno korisničko ime ili password!
                    </div>

                    <form method="post" role="form" name="loginform">
                        <div class="panel-body bg-light p25 pb15">


                            <!-- Username Input -->
                            <div class="section">
                                <label for="username" class="field-label text-muted fs18 mb10">Korisničko ime</label>
                                <label for="username" class="field prepend-icon">
                                    <input type="text" name="username" id="username" class="gui-input" placeholder="Unesite korisničko ime"/>
                                    <label for="username" class="field-icon">
                                        <i class="fa fa-user"></i>
                                    </label>
                                </label>
                            </div>

                            <!-- Password Input -->
                            <div class="section">
                                <label for="username" class="field-label text-muted fs18 mb10">Lotinka</label>
                                <label for="password" class="field prepend-icon">
                                    <input type="password" name="password" id="password" class="gui-input" placeholder="Unesite lozinku"/>
                                    <label for="password" class="field-icon">
                                        <i class="fa fa-lock"></i>
                                    </label>
                                </label>
                            </div>

                        </div>

                        <div class="panel-footer clearfix">
                            <button type="submit" class="button btn-primary mr10 pull-right">Prijava</button>
                            <!--<label class="switch block switch-primary mt10">-->
                                <!--<input type="checkbox" name="remember" id="remember" checked="checked"/>-->
                                <!--<label for="remember" data-on="YES" data-off="NO"></label>-->
                                <!--<span>Remember me</span>-->
                            <!--</label>-->
                        </div>

                    </form>
                </div>

                <!-- Registration Links -->
                <div class="login-links">
                    <p>
                        <!--<a href="pages_login-alt.html" class="active" title="Sign In">Forgot Password?</a>-->
                    </p>
                    <!--<p>Haven't yet Registered?-->
                        <!--<a href="pages_login-alt.html" title="Sign In">Sign up here</a>-->
                    <!--</p>-->
                </div>



            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->


<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script th:src="@{/res/theme/vendor/jquery/jquery-1.11.1.min.js}"></script>
<script th:src="@{/res/theme/vendor/jquery/jquery_ui/jquery-ui.min.js}"></script>

<!-- Theme Javascript -->
<script th:src="@{/res/theme/assets/js/utility/utility.js}"></script>
<script th:src="@{/res/theme/assets/js/demo/demo.js}"></script>
<script th:src="@{/res/theme/assets/js/main.js}"></script>

<!-- Page Javascript -->
<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();

//        // Init Demo JS
//        Demo.init();

    });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>


<!--

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<div th:fragment="content">


    <div>

        <div class="alert alert-danger" role="alert"
             th:if="${#httpServletRequest.getAttribute('shiroLoginFailure')}">
            Prijava nije uspjela, netočno korisničko ime ili password!
        </div>

        <div class="col-md-12">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1 align="center">EKIP - Tarifni kalkulator</h1>
            <h2 align="center">Admin Konzola</h2>
            <hr/>
        </div>


        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4 col-md-offset-3">

                    <form class="form-horizontal" role="form" name="loginform" method="post">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Username</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Password</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                            </div>
                        </div>


                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
        </div>

        <div class="col-md-12 col-md-offset-2">
            <p>
                <br/>
                Za pristup admin konzoli, ukoliko nemate username/password, molimo da javite se
                <a href='mailto:info@inovatrend.com'>administratoru</a>
                <br/><br/>

            </p>
        </div>

        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
          $('[autofocus]:not(:focus)').eq(0).focus();
        })
    </script>

</div>

</body>
</html>

-->