<configuration debug="true" scan="true" scanPeriod="300 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} %-5level [%thread-%logger{0}] %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] %msg%n</pattern>
        </encoder>
<!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
-->
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base:-/tmp}/smartbuilding.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base:-/tmp}/smartbuilding.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} %-5level [%thread-%logger{0}] %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] %msg%n</pattern>
        </encoder>

<!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
-->
    </appender>

    <logger name="com.mchange" level="info"/>
    <logger name="org.apache" level="info"/>
    <logger name="org.quartz" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <!--<logger name="org.hibernate.SQL" level="debug"/>-->
    <!--<logger name="org.hibernate.type" level="trace"/>-->
    <logger name="com.inova" level="debug"/>

    <root level="info">
        <if condition='isDefined("stdoutLogging")'>
            <then>
                <appender-ref ref="stdout"/>
            </then>
        </if>
        <appender-ref ref="file"/>
    </root>

</configuration>