<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Smart building</title>
</head>
<body>

<div th:fragment="content">

    <div>

        <h2>Upravljanje stanom</h2>
        <!--@thymesVar id="apartmentLayout" type="hr.m2stanic.smartbuilding.core.apartment.ApartmentLayout"-->
        <input type="hidden" id="apartmentId" th:value="${apartmentLayout.apartment.id}"/>

        <div class="panel">

            <div class="panel-body">
                <div class="tab-block mb25">
                    <ul class="nav nav-tabs tabs-border">
                        <li class="active">
                            <a href="#simple" data-toggle="tab" aria-expanded="true" id="simpleTab">Jednostavno
                                upravljanje</a>
                        </li>
                        <li class="">
                            <a href="#advanced" data-toggle="tab" aria-expanded="false" id="advancedTab">Napredno
                                upravljanje</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--simple tab start-->
                        <div id="simple" class="tab-pane active">
                            <div th:replace="admin/fragments/apartmentLayoutSimple :: aptLayout">...</div>
                        </div>
                        <!--simple tab end-->

                        <!--advanced tab start-->
                        <div id="advanced" class="tab-pane">
                            <div th:replace="admin/fragments/apartmentLayoutAdvanced :: aptLayout">...</div>
                        </div>
                        <!--advanced tab end-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>






</body>
</html>